h2 {
    text-align: center;
}

div {
    padding: 5px;
}

div > label, div > input {
    font-size: 1.5rem;
}

label, input {
    display: block;
    margin: 0 auto;
    text-align: center;
}

input {
    margin-bottom: 10px;
}