<h2>Finance Manager Login</h2>
<hr>
<div>
  <p *ngIf="lastStatus === 400">Username or password is incorrect.</p>
  <p *ngIf="lastStatus === 500">Unknown server error occurred.</p>
  <p *ngIf="lastStatus === 0">Server unreachable.</p>
  <label for="username">Enter Username:</label>
  <input type="text" id="username" [(ngModel)]="username">

  <label for="password">Enter Password</label>
  <input type="password" id="password" [(ngModel)]="password">

  <input type="submit" [disabled]="!formValidation()" (click)="submit()">
</div>